extends baseEmail

block content
  p Hi #{firstName},
  p We received a request to reset your password for your Orca account. If you didn't make this request, you can ignore this email.
  p Click the link below to reset your password:
  
  a(href=resetPasswordLink) Reset your password
  
  p If you need any assistance, feel free to reach out to our support team.
  p - CEO
